Tony Tong. For Harvard Ph12b 2017.

In [1]:
# import_text.py
# -------------------------------------------------------------------------
# Load data from a text file by reading the file line by line.
# ------------------------------------------------------------------------- 
import numpy as np

f = open("HIVseries.csv")
temp_data = []

for line in f:
	print(line)
	x,y = line.split(',')
	temp_data += [ (float(x), float(y)) ]

f.close()

data_set = np.array(temp_data)

0, 1.061e+05

0.0831, 93240

0.1465, 1.6672e+05

0.2587, 1.5378e+05

0.4828, 1.188e+05

0.7448, 1.169e+05

0.9817, 1.0957e+05

1.2563, 1.1135e+05

1.4926, 74388

1.7299, 83291

1.9915, 66435

3.0011, 35408

4.0109, 21125

5.009, 20450

5.9943, 15798

7.0028, 4785.2

In [6]:
##or really, please use Pandas to read CSV files
##Much better
import pandas as pd
df = pd.read_csv("HIVseries.csv")

In [7]:
df.head()

        0   1.061e+05
0  0.0831     93240.0
1  0.1465    166720.0
2  0.2587    153780.0
3  0.4828    118800.0
4  0.7448    116900.0

In [8]:
df.shape

(15, 2)